body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: red;
 
}

#mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.9em;
    background-color: #22ff00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 160px;
    left: 680px;
    width: 200px;
}

button:hover {
    background-color: #0056b3;
}
img {
    
    background: url('your_image_url_here') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

}